@import "./variable/text.scss";
@import "./variable/color.scss";

.containers-category {
  display: flex;
  padding: 20px;
  justify-content: space-around;
}
.containercategoryS {
  flex: 1;
  margin: 3px;
  height: 60vh;
  position: relative;
}
.info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  color: white;
  margin-bottom: 20px;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.shop {
  border: none;
  padding: 10px;
  background-color: white;
  color: gray;
  cursor: pointer;
  font-weight: 600;
}
//mobile
@media only screen and (max-width: 580px) {
  .containers-category {
    padding: 0px;
    flex-direction: column;
  }
  .image {
    height: 20vh;
  }
}
