@import "./variable/text.scss";
@import "./variable/color.scss";
.containers {
  height: 20px;
  background-color: teal;
  color: $white;
  font-size: $font-normal;
  font-weight: 500;
  padding: 5px;
  padding-left: 20px;
}
