//variables
$border: filled;
.getborder {
  @if $border== filled {
    background-color: black;
    color: white;
  } @else {
    background-color: transparent;
    color: white;
  }
}
//cart Page
.Wraperr-cart {
  padding: 20px;
}
.carttitle {
  font-weight: 300;
  text-align: center;
}
.top-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.TopButton-cart {
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
  //if state
  border: $border;
}
.TopTexts {
  display: flex;
}
.TopText {
  text-decoration: underline;
  cursor: pointer;
  margin: 0px 10px;
}

.bottom-cart {
  display: flex;
  justify-content: space-between;
}
.Info-cart {
  flex: 3;
}
.img-cart {
  width: 200px;
}

.Product-cart {
  display: flex;
  justify-content: space-between;
}
.Product-cart-detail {
  flex: 2;
  display: flex;
}

.Item-details {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.ProductColor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
}
.Product-cart-detailprice {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cart-ProductAmountContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.cart-ProductAmount {
  font-size: 24px;
  margin: 5px;
}
.cart-ProductPrice {
  font-size: 30px;
  color: teal;
  font-weight: 200;
}
.hr {
  background-color: #eee;
  border: none;
  height: 1px;
}
.Summary-cart {
  flex: 1;
  border: 0.5px solid lightgray;
  border-radius: 10px;
  padding: 20px;
  height: 50vh;
}
.SummaryTitle {
  font-weight: 200;
}
.cart-SummaryItem {
  margin: 30px 0px;
  display: flex;
  justify-content: space-between;
}
.cart-Button {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.185);
  background-color: teal;
  color: white;
  font-weight: 600;
}
@media only screen and (max-width: 580px) {
  .Wraperr-cart {
    padding: 10px;
  }
  .TopTexts {
    display: none;
  }
  .bottom-cart {
    flex-direction: column;
  }

  .cart-ProductAmount {
    margin-left: 5px 15px;
  }
  .cart-ProductPrice {
    margin-bottom: 20px;
  }
  .Item-details {
    padding: 10px 0px;
  }
}
